:root {
  --main-color: #19c8fa;
  --transparent-color: rgb(15 116 143 / 70%);
  --section-padding: 100px;
}
* {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
html {
  scroll-behavior: smooth;
}
body {
  font-family: "Work Sans", sans-serif;
}
ul {
  list-style: none;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
.overlay {
  position: absolute;
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
h2.sec-heading {
  position: relative;
  font-size: 40px;
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 70px;
  text-align: center;
}
h2.sec-heading::before {
  position: absolute;
  content: "";
  background-color: black;
  width: 100px;
  height: 2px;
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
}
h2.sec-heading::after {
  position: absolute;
  content: "";
  background-color: white;
  width: 15px;
  height: 15px;
  bottom: -28px;
  left: 50%;
  transform: translateX(-50%);
  border: 2px solid black;
  border-radius: 20px;
}
h2.sec-heading + p {
  text-align: center;
  width: 550px;
  max-width: 90%;
  line-height: 2;
  color: rgb(119, 119, 119);
  margin: -25px auto 100px;
}

/* --------------------------- Header start --------------------------- */
header {
  position: absolute;
  left: 0;
  width: 100%;
  z-index: 2;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  min-height: 97px;
}
header .container::after {
  content: "";
  position: absolute;
  height: 1px;
  background-color: #a2a2a2;
  bottom: 0;
  width: calc(100% - 30px);
  left: 15px;
}
header .container a img {
  height: 40px;
}
header nav {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex: 1 1 0%;
}
header nav ul {
  display: flex;
}
header nav ul li a {
  position: relative;
  display: block;
  z-index: 2;
  color: white;
  text-decoration: none;
  padding: 40px 10px;
  transition: all 0.3s ease 0s;
}
header nav ul li a:hover,
header nav ul li.activated a {
  color: var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
header nav i {
  color: white;
  position: relative;
  padding-left: 10px;
}
header nav i.menuu {
  padding-right: 10px;
}
@media (min-width: 767px) {
  header nav i.menuu {
    display: none;
  }
}
header nav .find i::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  background-color: white;
  left: 0;
}
@media (max-width: 767px) {
  header nav ul {
    display: none;
  }
}
/* --------------------------- Header end --------------------------- */

/* --------------------------- Landing start --------------------------- */
.landing {
  position: relative;
  min-height: 100vh;
  background-color: #1f2021;
  background-image: url("../imgs/landing.jpg");
  background-size: cover;
  color: white;
}
.landing .content {
  position: absolute;
  background-color: var(--transparent-color);
  width: 50%;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  padding: 30px 70px;
}
@media (max-width: 1199px) {
  .landing .content {
    width: 100%;
  }
}
.landing .content h2 {
  font-size: 32px;
  font-weight: normal;
  line-height: 1.5;
  margin-bottom: 20px;
}
.landing .content p {
  line-height: 1.8;
}
.landing .fa-angle-right,
.landing .fa-angle-left {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
}
.landing .fa-angle-left {
  left: 30px;
}
.landing .fa-angle-right {
  right: 30px;
}
@media (max-width: 767px) {
  .landing .fa-angle-left,
  .landing .fa-angle-right {
    display: none;
  }
}
.landing .bullets {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 30px;
  display: flex;
}
.landing .bullets li {
  width: 20px;
  height: 20px;
  border: 1px solid white;
  border-radius: 50%;
  margin-right: 10px;
}
.landing .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
/* --------------------------- Landing end --------------------------- */

/* --------------------------- Services start --------------------------- */
.services {
  padding-bottom: var(--section-padding);
  padding-top: var(--section-padding);
}
.services .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(450px, 1fr));
  gap: 40px;
}
.services .container .serv-box {
  display: flex;
  gap: 20px;
  max-width: 80%;
}
.services .container .serv-box .text h3 {
  color: var(--main-color);
  margin-bottom: 10px;
}
.services .container .serv-box .text p {
  color: #777;
  line-height: 2;
}
/* --------------------------- Services end --------------------------- */

/* --------------------------- Design start --------------------------- */
.design {
  position: relative;
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  height: 600px;
  background-color: black;
  background-image: url(../imgs/design-features.jpg);
  background-size: cover;
  overflow: hidden;
  display: flex;
  align-items: center;
}
.design::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgb(0 0 0 / 60%);
  top: 0;
  left: 0;
}
.design .image,
.design .text {
  position: relative;
  flex: 1;
  z-index: 2;
}
.design .image {
  text-align: center;
}
@media (max-width: 991px) {
  .design .image {
    display: none;
  }
}
.design .text {
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
}
@media (max-width: 991px) {
  .design .text {
    width: 100%;
  }
}
.design .image img {
  position: relative;
  bottom: -150px;
}
.design .text h2 {
  font-weight: normal;
  text-transform: uppercase;
  margin-bottom: 30px;
}
.design .text ul li {
  position: relative;
  padding: 10px 0;
}
.design .text ul li::before {
  position: relative;
  font-family: "Font Awesome 5 Free";
  font-weight: bold;
  content: "\f0da";
  margin-right: 10px;
}
/* --------------------------- Design end --------------------------- */

/* --------------------------- Portfolio start --------------------------- */
.portfolio {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.portfolio .shuffle {
  display: flex;
  justify-content: center;
}
.portfolio .shuffle li {
  padding: 10px;
}
.portfolio .shuffle li:hover,
.portfolio .shuffle li.active {
  background-color: var(--main-color);
  color: white;
}
.portfolio .content {
  display: flex;
  flex-wrap: wrap;
  margin-top: 30px;
}
.portfolio .content .box {
  position: relative;
  overflow: hidden;
}
.portfolio .content .box:hover .caption {
  bottom: 0;
}
.portfolio .content .box:hover img {
  transform: rotate(3deg) scale(1.1);
}
@media (min-width: 768px) {
  .portfolio .content .box {
    flex-basis: 50%;
  }
}
@media (min-width: 1199px) {
  .portfolio .content .box {
    flex-basis: 25%;
  }
}
.portfolio .content .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .content .box img {
  max-width: 100%;
  transition: 0.3s;
}
.portfolio .content .box .caption {
  position: absolute;
  left: 0;
  padding: 20px;
  background-color: white;
  width: 100%;
  transition: 0.3s;
  bottom: -100%;
}
.portfolio .content .box .caption h4 {
  font-weight: normal;
  margin-bottom: 10px;
}
.portfolio .content .box .caption p {
  color: var(--main-color);
}
.portfolio .more {
  background-color: var(--main-color);
  color: white;
  padding: 15px 30px;
  display: block;
  width: fit-content;
  margin: 30px auto;
  text-decoration: none;
  text-transform: uppercase;
}
.portfolio .more:hover {
  background-color: white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
/* --------------------------- Portfolio end --------------------------- */

/* --------------------------- Video start --------------------------- */
.video {
  position: relative;
}
.video::before {
  position: absolute;
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
.video video {
  width: 100%;
}
.video .text {
  position: absolute;
  background-color: var(--transparent-color);
  width: 100%;
  top: 50%;
  transform: translateY(-50%);
  text-align: center;
  color: white;
  padding: 50px;
}
.video .text h2 {
  margin: 0 0 30px;
  text-transform: uppercase;
  font-weight: normal;
}
.video .text p {
  margin-bottom: 30px;
}
.video .text button {
  background-color: black;
  color: white;
  padding: 10px 20px;
  border: none;
  text-transform: uppercase;
}
/* --------------------------- Video end --------------------------- */

/* --------------------------- About start --------------------------- */
.about {
  padding-top: var(--section-padding);
  text-align: center;
  overflow: hidden;
}
.about img {
  position: relative;
  bottom: -120px;
  margin-top: -120px;
  max-width: 100%;
}
@media (max-width: 767px) {
  .about img {
    display: none;
  }
}
/* --------------------------- About end --------------------------- */

/* --------------------------- Stats start --------------------------- */
.stats {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  background-color: black;
  background-image: url(../imgs/stats.png);
  background-size: cover;
}
.stats::before {
  position: absolute;
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.stats .container {
  position: relative;
  display: flex;
  flex-wrap: wrap;
}
.stats .container .box {
  background-color: var(--transparent-color);
  color: white;
  padding: 50px;
  text-align: center;
}
@media (max-width: 767px) {
  .stats .container .box {
    flex-basis: 100%;
  }
}
@media (min-width: 768px) {
  .stats .container .box {
    flex-basis: 50%;
  }
}
@media (min-width: 992px) {
  .stats .container .box {
    flex-basis: 25%;
  }
}
.stats .container .box i {
  width: 40px;
  height: 40px;
  display: flex;
  color: black;
  background-color: white;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  margin: 0 auto 30px;
}
.stats .container .box .number {
  font-size: 50px;
  font-weight: bold;
  margin: 0 0 20px;
}
.stats .container .box p {
  font-size: 14px;
}
/* --------------------------- Stats end --------------------------- */

/* --------------------------- Skills start --------------------------- */
.testi-skills {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.testi-skills .container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media (min-width: 992px) {
  .testi-skills .container > div {
    flex-basis: 45%;
  }
}
.testi-skills .container > div > h3 {
  margin: 0 0 30px;
  font-weight: normal;
  text-align: center;
  text-transform: uppercase;
}
.testi-skills .container > div > p {
  color: #777;
  line-height: 2;
  text-align: center;
  margin-bottom: 60px;
}
.testi-skills .testimonials .content {
  display: flex;
  align-items: center;
  margin-bottom: 30px;
}
.testi-skills .testimonials .content img {
  width: 100px;
  border-radius: 50%;
  margin-right: 50px;
}
@media (max-width: 767px) {
  .testi-skills .testimonials .content {
    flex-direction: column;
    text-align: center;
  }
  .testi-skills .testimonials .content img {
    margin: 0 auto 20px;
  }
}
.testi-skills .testimonials .text {
  line-height: 1.8;
  border-bottom: 1px solid #ccc;
}
.testi-skills .testimonials .text p {
  color: #777;
  text-align: right;
  font-size: 14px;
  margin-bottom: 10px;
}
.testi-skills .testimonials .bullets {
  display: flex;
  justify-content: center;
  margin-top: 50px;
  margin-bottom: 50px;
}
.testi-skills .testimonials .bullets li {
  width: 14px;
  height: 14px;
  border: 1px solid #aaa;
  border-radius: 50%;
  margin-right: 10px;
}
.testi-skills .testimonials .bullets li.active {
  background-color: var(--main-color);
  border-color: var(--main-color);
}
.testi-skills .skills .prog-holder {
  margin-bottom: 40px;
}
.testi-skills .skills .prog-holder h4 {
  margin-bottom: 15px;
  font-weight: normal;
  text-transform: uppercase;
}
.testi-skills .skills .prog-holder .prog {
  background-color: #dedadc;
  height: 30px;
}
.testi-skills .skills .prog-holder .prog span {
  display: block;
  background-color: var(--main-color);
  height: 100%;
  position: relative;
}
.testi-skills .skills .prog-holder .prog span::before {
  content: attr(data-progress);
  position: absolute;
  background-color: black;
  color: white;
  top: -40px;
  right: -18px;
  padding: 4px 0;
  width: 40px;
  text-align: center;
  border-radius: 4px;
}
.testi-skills .skills .prog-holder .prog span::after {
  content: "";
  position: absolute;
  border-style: solid;
  border-width: 8px;
  border-color: black transparent transparent;
  right: -8px;
  top: -15px;
}
/* --------------------------- Skills end --------------------------- */

/* --------------------------- Quote start --------------------------- */
.quote {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  position: relative;
  text-align: center;
  color: white;
  background-color: black;
  background-image: url(../imgs/quote.jpg);
  background-size: cover;
}
.quote::before {
  position: absolute;
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.quote .container {
  position: relative;
  max-width: 75%;
}
.quote q {
  font-size: 30px;
  margin-bottom: 20px;
  display: block;
}
/* --------------------------- Quote end --------------------------- */

/* --------------------------- Pricing start --------------------------- */
.pricing {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.pricing .container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 30px;
}
.pricing .container .box {
  background-color: #fcfcfc;
  text-align: center;
}
.pricing .box .head {
  padding: 40px 20px;
  border-top: 1px solid var(--main-color);
  border-bottom: 1px solid var(--main-color);
}
.pricing .box .head h3 {
  font-weight: normal;
  margin-bottom: 20px;
  text-transform: uppercase;
}
.pricing .box .head span {
  font-size: 60px;
  font-weight: bold;
}
.pricing .box .head span::before {
  position: relative;
  content: "$";
  font-size: 25px;
  font-weight: normal;
  top: -40px;
  margin-right: 15px;
}
.pricing .box .head span::after {
  position: relative;
  content: "/mo";
  font-size: 20px;
  font-weight: normal;
  right: -15px;
}
.pricing .box ul li {
  position: relative;
  padding: 20px;
}
.pricing .box ul li:not(:last-child)::after {
  position: absolute;
  content: "";
  background-color: var(--main-color);
  width: 140px;
  height: 1px;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
}
.pricing .box .foot {
  border-top: 1px solid var(--main-color);
  padding-top: 40px;
  padding-bottom: 40px;
}
.pricing .box .foot a {
  text-decoration: none;
  color: black;
  border: 1px solid var(--main-color);
  padding: 15px 20px;
}
.pricing .box .foot a:hover {
  color: white;
  background-color: var(--main-color);
}
/* --------------------------- Pricing end --------------------------- */

/* --------------------------- Subscribe start --------------------------- */
.subscribe {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
  background-image: url(../imgs/subscribe.jpg);
  background-size: cover;
  position: relative;
}
.subscribe::before {
  position: absolute;
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.subscribe .container {
  position: relative;
  color: white;
  display: flex;
  align-items: center;
  gap: 30px;
}
@media (max-width: 991px) {
  .subscribe .container {
    flex-direction: column;
  }
}
.subscribe form {
  display: flex;
  position: relative;
  width: 500px;
  max-width: 100%;
  color: white;
}
.subscribe form i {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 25px;
}
.subscribe form input[type="email"] {
  border: 1px solid white;
  border-right: none;
  background: none;
  padding: 20px 20px 20px 60px;
  caret-color: var(--main-color);
  width: calc(100% - 130px);
}
.subscribe form input[type="submit"] {
  width: 130px;
  background-color: var(--main-color);
  color: white;
  padding: 10px 20px;
  border: 1px solid white;
  border-left: none;
  text-transform: uppercase;
}
.subscribe form input[type="email"]:focus,
.subscribe form input[type="submit"]:focus {
  outline: none;
}
.subscribe form ::placeholder {
  color: white;
}
.subscribe p {
  line-height: 2;
  margin-left: 50px;
}
@media (max-width: 991px) {
  .subscribe p {
    text-align: center;
    margin: 30px 0 0;
  }
}
/* --------------------------- Subscribe end --------------------------- */

/* --------------------------- Contact start --------------------------- */
.contact {
  padding-top: var(--section-padding);
  padding-bottom: var(--section-padding);
}
.contact .container {
  display: flex;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .contact .container {
    flex-direction: column;
  }
}
.contact .container form {
  flex-basis: 70%;
}
.contact .container form .main-input {
  display: block;
  width: 100%;
  border: 1px solid #ccc;
  padding: 20px;
  margin-bottom: 30px;
}
.contact .container form .main-input:focus {
  outline: none;
}
.contact .container form textarea.main-input {
  height: 200px;
}
.contact .container form input[type="submit"] {
  display: flex;
  border: none;
  background-color: var(--main-color);
  color: white;
  font-size: 16px;
  text-transform: uppercase;
  margin-left: auto;
  padding: 20px;
  cursor: pointer;
}
.contact .container form input[type="submit"]:hover {
  background-color: white;
  color: var(--main-color);
  border: 2px solid var(--main-color);
}
.contact .container .info {
  flex-basis: 25%;
}
@media (max-width: 767px) {
  .contact .content .info {
    order: -1;
    text-align: center;
  }
}
.contact .container .info h4 {
  text-transform: uppercase;
  margin-bottom: 30px;
  font-weight: 500;
  font-size: 18px;
}
.contact .container .info .phone {
  display: block;
  color: #777;
  margin-bottom: 10px;
}
.contact .container .info h4:nth-of-type(2) {
  margin-top: 90px;
}
@media (max-width: 767px) {
  .contact .container .info h4:nth-of-type(2) {
    margin-top: 30px;
  }
}
.contact .container .info address {
  color: #777;
  line-height: 2;
}
@media (max-width: 767px) {
  .contact .container .info address {
    margin-bottom: 40px;
  }
}
/* --------------------------- Contact end --------------------------- */

/* --------------------------- Footer start --------------------------- */
footer {
  position: relative;
  padding-top: calc(var(--section-padding) / 2);
  padding-bottom: calc(var(--section-padding) / 2);
  color: white;
  background-color: black;
  background-image: url(../imgs/subscribe.jpg);
  background-size: cover;
  text-align: center;
}
footer::before {
  position: absolute;
  content: "";
  background-color: rgb(0 0 0 / 60%);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
footer .container {
  position: relative;
}
footer .container img {
  margin-bottom: 20px;
}
footer .container h3 {
  text-transform: uppercase;
  padding: 20px;
  border-bottom: 1px solid white;
  font-size: 22px;
  font-weight: normal;
  width: fit-content;
  margin: 20px auto;
}
footer .container .social-icons i {
  padding: 10px 15px;
}
footer .copyright {
  margin-top: 60px;
}
footer .copyright span {
  font-weight: bold;
  color: var(--main-color);
}
/* --------------------------- Footer end --------------------------- */ ;
